<div class="card shadow-effect" *ngIf="postData.data" [routerLink]="['/post', postData.id]">
    <img src="{{ postData?.data?.postImgPath }}" alt="" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">{{ postData?.data?.category.category }}</small>
        <small class="bg-light text-success text-center ml-3" *ngIf="postData['data']['isFeatured']">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - {{ postData?.data?.views }}</small>

        <h1 class="mt-1">{{ postData?.data?.title }}</h1>
        <p>{{ postData?.data?.excert }}</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - {{ postData?.data?.createdAt.toMillis() | date }}</small>

    </div>
</div>